{% extends "extractor/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
	{% for file in files %}

                <div class="col-lg-4">
                    <div class="card card-margin">
                        <div class="card-header no-border">
                            <h5 class="card-title">{{ file.pk }}</h5>
                        </div>
                        <div class="card-body pt-0">
                            <div class="widget-49">
                                <div class="widget-49-title-wrapper">
                                    <div class="widget-49-date-primary">
                                        <span class="widget-49-date-day">{{ file.uploaded_at | date:'d'}}</span>
                                        <span class="widget-49-date-month">{{ file.uploaded_at | date:'F'}}</span>
                                    </div>
                                    <div class="widget-49-meeting-info">
                                        <span class="widget-49-pro-title">{{ file.file.name }}</span>
                                        <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                    </div>
                                </div>
                                <div class="widget-49-meeting-action">
                                    <a href="{% url 'file-upload-details' file.pk %}" class="btn btn-sm btn-flash-border-primary">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
 </div>
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class= "btn btn-outline-info mb-4 " href="?page=1">First</a>
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number  == num %}
				<a class= "btn btn-info mb-4 " href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
				<a class= "btn btn-outline-info mb-4 " href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
{% endblock content %}
